.body{
    margin-top: 20px;
}
.body .main{
	box-sizing: border-box;
    padding: 5px;
    display: flex;
    box-shadow: 0 0 30px rgb(255, 255, 255);
    min-height:650px;
}
.body form{
	flex:3;
	display:flex;
}
.body .right{
    flex: 3;
    background: #ffffff;
    display:flex;
    padding-top:20px;
    padding-bottom: 20px;
}
.body table{
	width:74%;
	margin:0 auto;
	text-align:center;
}
.body .className{
	font-size:18px;
	
}
.body .claInput input{
	outline:none;
	height:35px;
	width:350px;
	font-size: 18px;
    text-indent: 1em;
}
.body .className>div{
	width:70px;
	border-radius: 10px;
    text-align: center;
    padding: 5px 10px;
    color: #ffffff;
    background: rgb(235, 70, 163);
    display:inline-block;
}
.body .claInput{
	padding-left: 10px;
}
.body .btn{
	width:70px;
	width: 70px;
    font-size: 18px;
    padding: 5px;
    outline: none;
    border: none;
    color: #ffffff;
    border-radius: 10px;
    font-weight: bold;
}
.body .btn:hover{
	cursor:pointer;
}
.body .btn1{
	background: rgb(108, 188, 245);
}
.body .btn2{
	background: rgb(167, 125, 245);
}
.body table caption{
	font-size: 20px;
    padding: 10px 0;
    font-weight: 900;
    color: rgb(240, 41, 110);
    border-bottom: 4px solid rgb(75, 250, 174);
    margin-bottom: 11px;
}
